<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Users</h1>
  <a [routerLink]="['/dashboard/add']" class="btn btn-primary">Add User</a>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>PhoneNumber</th>
        <th>Profile Image</th>
        <th>User Type</th>
        <th>SignUp On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userListing; index as i;">
        <td>{{i+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber || 'N/A'}}</td>
        <td><img src="{{user.profileImage}}"></td>
        <td>{{user.userType}}</td>
        <td>{{user.createdAt | date : 'mediumDate'}}</td>
        <td>
          <a [routerLink]="['/dashboard/edit', user._id]" class="btn btn-success">Edit</a>
          <button class="btn btn-danger" (click)="delete(user)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


